nav.main 
    a(href="/profile")#home.button
        img(src="/testsystem/static/img/home.svg", alt="", srcset="")
    a(href="/tests")#tests.button Назначенные тесты
    a(href="/zayavka")#promapp.button Заявка на повышение
    a(href="/skills")#skills.button Мои навыки
    a(href="/settings")#settings.button Настройка аккаунта
    a(href="/api/logout")#logout.button 
        img(src="/testsystem/static/img/logout.svg", alt="", srcset="")