nav.admin
    a(href="/tests-control").button Управление тестами
    a(href="/employees").button Управление сотрудниками
    a(href="/testsystem/results").button Управление результатами
    a(href="/admin_feedback").button Обратная связь
    a(href="/competency-matrix/edit").button.active Матрица компетенций